{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block content %}
    <div class="mb-3">
        <label class="form-label d-block">Select QR Code Type:</label>
        <div class="btn-group" role="group" aria-label="QR Code Type">
            <input type="radio" class="btn-check" name="qr_type" id="typeUrl" value="url" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="typeUrl">URL</label>

            <input type="radio" class="btn-check" name="qr_type" id="typeEmail" value="email" autocomplete="off">
            <label class="btn btn-outline-primary" for="typeEmail">Email</label>

            <input type="radio" class="btn-check" name="qr_type" id="typeText" value="text" autocomplete="off">
            <label class="btn btn-outline-primary" for="typeText">Text</label>

            <input type="radio" class="btn-check" name="qr_type" id="typePhone" value="phone" autocomplete="off">
            <label class="btn btn-outline-primary" for="typePhone">Phone Number</label>

{#            <input type="radio" class="btn-check" name="qr_type" id="typeVcard" value="vcard" autocomplete="off">#}
{#            <label class="btn btn-outline-primary" for="typeVcard">V Card</label>#}

            <input type="radio" class="btn-check" name="qr_type" id="typeWifi" value="wifi" autocomplete="off">
            <label class="btn btn-outline-primary" for="typeWifi">WiFi</label>
        </div>
    </div>

    <h1>QR Code Generator</h1>
    <form action="{% url 'qr:index' %}" method="post" id="qr-form">
        {% csrf_token %}

        <!-- URL Input Section -->
        <div id="input-url" class="input-section">
            <label>
                <input type="text" name="url" placeholder="Enter URL">
            </label>
        </div>

        <!-- Email Input Section -->
        <div id="input-email" class="input-section" style="display: none;">
            <label>
                Email: <input type="email" name="email" placeholder="Enter Email">
            </label><br>
            <label>
                Subject: <input type="text" name="subject" placeholder="Enter Subject">
            </label><br>
            <label>
                Body: <input type="text" name="body" placeholder="Enter Body">
            </label>
        </div>

        <!-- Text Input Section -->
        <div id="input-text" class="input-section" style="display: none;">
            <label>
                Text: <input type="text" name="text" placeholder="Enter Text">
            </label>
        </div>

        <!-- Phone Number Input Section -->
        <div id="input-phone" class="input-section" style="display: none;">
            <label>
                Phone Number: <input type="text" name="phone" placeholder="Enter Phone Number">
            </label>
        </div>

        <!-- VCard Input Section -->
        <div id="input-vcard" class="input-section" style="display: none;">
            <label>
                First Name: <input type="text" name="first_name" placeholder="First Name">
            </label><br>
            <label>
                Last Name: <input type="text" name="last_name" placeholder="Last Name">
            </label><br>
            <label>
                Email: <input type="email" name="vcard_email" placeholder="Email">
            </label><br>
            <label>
                Phone (Mobile): <input type="text" name="vcard_mobile" placeholder="Mobile Phone">
            </label><br>
            <label>
                Organization: <input type="text" name="organization" placeholder="Organization">
            </label><br>
            <label>
                Title: <input type="text" name="title" placeholder="Title">
            </label><br>
            <label>
                Address: <input type="text" name="address" placeholder="Address">
            </label><br>
            <label>
                Label: <input type="text" name="label" placeholder="Label">
            </label><br>
            <label>
                URL: <input type="url" name="vcard_url" placeholder="URL">
            </label><br>
            <label>
                Note: <input type="text" name="note" placeholder="Note">
            </label>
        </div>

        <!-- WiFi Input Section -->
        <div id="input-wifi" class="input-section" style="display: none;">
            <label>
                SSID: <input type="text" name="ssid" placeholder="WiFi SSID">
            </label><br>
            <label>
                Password: <input type="password" name="password" placeholder="WiFi Password">
            </label><br>
            <label>
                Encryption Type:
                <select name="encryption">
                    <option value="WPA">WPA</option>
                    <option value="WEP">WEP</option>
                    <option value="nopass">None</option>
                </select>
            </label>
        </div>

        <button type="submit">Generate QR Code</button>
    </form>

    <div id="qr-result" style="display: none;">
        <h2>Generated QR Code:</h2>
        <img id="qr-code" alt="QR Code" src="">
        <p id="qr-text">QR Code for:</p>
    </div>
    
{#    <script src="{% static 'js/index.js' %}"></script>#}

    <script>
    // selected type enum class url, email, text, phone, vcard, wifi

    
        $(document).ready(function() {
            const $qrTypeRadios = $('input[name="qr_type"]');
            const $inputSections = $('.input-section');
            const $form = $("#qr-form");
            const $qrCodeImg = $("#qr-code");
            const $qrTextP = $("#qr-text");
            const $qrResult = $("#qr-result");

            /**
             * Show the relevant input section based on the selected QR code type.
             * Hide all other input sections.
             */
            function showRelevantInput() {
                const selectedType = $('input[name="qr_type"]:checked').val();
                console.log('Selected Type:', selectedType);

                // Hide all input sections
                $inputSections.hide();
                $inputSections.find('input, select').prop('required', false);

                // Show the input section corresponding to the selected QR code type
                const $activeSection = $(`#input-${selectedType}`);
                if ($activeSection.length) {
                    $activeSection.show();
                    if (selectedType === "url" || selectedType === "text") {
                        $activeSection.find('input').prop('required', true);
                    } else if (selectedType === "email") {
                        $activeSection.find('input[name="email"]').prop('required', true);
                    }
                }
            }

            $qrTypeRadios.change(showRelevantInput);
            showRelevantInput();

            // Handle form submission
            $form.submit(function(event) {
                event.preventDefault();
                const selectedType = $('input[name="qr_type"]:checked').val();
                console.log('QR Type:', selectedType);

                const formData = new FormData(this);

                if (selectedType === "url"){
                    const url = formData.get("url");
                    $.ajax({
                        url: "{% url 'qr:qr_url_v1' %}",
                        type: "GET",
                        data: {url: url},
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function(blob) {
                            const imageUrl = URL.createObjectURL(blob);
                            $qrCodeImg.attr('src', imageUrl);
                            $qrResult.show();
                            $qrTextP.text(`QR Code for: ${url}`);
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            alert(`Error generating QR Code: ${error}`);
                        }
                    });
                } else if (selectedType === "email") {
                    const email = formData.get("email");
                    const subject = formData.get("subject");
                    const body = formData.get("body");
                    $.ajax({
                        url: "{% url 'qr:qr_email_v1' %}",
                        type: "GET",
                        data: {email: email, subject: subject, body: body},
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function(blob) {
                            const imageUrl = URL.createObjectURL(blob);
                            $qrCodeImg.attr('src', imageUrl);
                            $qrResult.show();
                            $qrTextP.text(`QR Code for: ${email}`);
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            alert(`Error generating QR Code: ${error}`);
                        }
                    });
                } else if (selectedType === "text") {
                    const text = formData.get("text");
                    $.ajax({
                        url: "{% url 'qr:qr_text_v1' %}",
                        type: "GET",
                        data: {text: text},
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function(blob) {
                            const imageUrl = URL.createObjectURL(blob); 
                            $qrCodeImg.attr('src', imageUrl);
                            $qrResult.show();
                            $qrTextP.text(`QR Code for: ${text}`);
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            alert(`Error generating QR Code: ${error}`);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}