# Core
django
python-dotenv
str2bool

# Swagger
drf-yasg
djangorestframework

# Django
django-admin-berry
django_plotly_dash
django-bootstrap-v5
django-qr-code
django-debug-toolbar
pytest-django

# Deployment
whitenoise
gunicorn

# packages
qrcode[pil]
Pillow

# Database
dj-database-url
psycopg2-binary

# DB Layer
# psycopg2-binary
# mysqlclient