<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Style:</label>
        {{ form.style }}
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Color Mask:</label>
        {{ form.color_mask }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Fill Color:</label>
        {{ form.fill_color }}
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Background Color:</label>
        {{ form.back_color }}
    </div>
</div>
<div class="mb-3">
    <label class="form-label">Embedded Image:</label>
    {{ form.embedded_image }}
</div>
<div class="mb-3">
    <label class="form-label">Embedded Image Ratio (0.1-0.5):</label>
    {{ form.embedded_image_ratio }}
</div>