{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto">
  <form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Create Account</h1>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}
  
    
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}

    <div class="form-floating">
      {{ form.email }}
      <label for="{{ form.email.id_for_label }}">Email address</label>
      {% if form.email.errors %}
        <div class="invalid-feedback d-block">{{ form.email.errors }}</div>
      {% endif %}
    </div>

    <div class="form-floating">
      {{ form.password1 }}
      <label for="{{ form.password1.id_for_label }}">Password</label>
      {% if form.password1.errors %}
        <div class="invalid-feedback d-block">{{ form.password1.errors }}</div>
      {% endif %}
    </div>

    <div class="form-floating">
      {{ form.password2 }}
      <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
      {% if form.password2.errors %}
        <div class="invalid-feedback d-block">{{ form.password2.errors }}</div>
      {% endif %}
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign Up</button>
    <p class="mt-3 text-center">Already have an account? <a href="{% url 'accounts:login' %}">Login here</a></p>
  </form>

  {% if debug %}
  <form method="post" action="{% url 'accounts:api_delete_user' %}" class="mt-5">
    {% csrf_token %}
    <h3 class="h5 mb-3">Debug: Delete User</h3>
    <div class="form-floating">
      <input type="text" name="user_uuid" class="form-control" id="userUUID" placeholder="User UUID">
      <label for="userUUID">User UUID</label>
    </div>
    <button class="w-100 btn btn-lg btn-danger mt-3" type="submit">Delete User</button>
  </form>
  {% endif %}
</main>
{% endblock %}
