{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>

    <!-- Google Analytics는 production 환경에서만 로드 -->
    {% if request.get_host == 'qrcode.piusdev.com' %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-N7LQ5KW108"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-N7LQ5KW108');
        </script>
        <!-- End Google tag (gtag.js) -->
        <!-- Google Adsense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3196239618793814"
                crossorigin="anonymous"></script>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{{ SITE_DESCRIPTION }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{{ SITE_KEYWORDS }}{% endblock %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>

{% include 'includes/navbar.html' %}

<!-- 디버깅 정보 추가 -->
{% if debug %}
<div class="container mt-2">
    <h5>디버깅 정보:</h5>
    <p>User is_authenticated: {{ user.is_authenticated }}</p>
    <p>User email: {{ user.email }}</p>
</div>
{% endif %}

<!-- Flash Messages -->
<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
        <!-- Child templates will inject content here -->
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>

</body>
</html>